.redes svg {
    margin-left: 10px;
}

.navbar {
    /*background-color: rgba(255,255,255,0.50);*/
    background-color: white;
}

.nav-item {
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    color:black;
    font-weight: 500;
}

.bg-claro {
    background-color: #f3f3f3;
}

.inicio {
    height: 100lvh;
}

.outlinea {
    outline: 1px red solid;
}

.contenido h1 {
    font-size:70px;
}

.contenido p {
    font-size: 20px;
    font-weight:400;
}

.contenido button {
    padding: 5px 30px;
    font-size: 20px;
}

#nosotros {
    min-height: 500px;
    height: auto;
}

#nosotros >.caja{
    width: 260px;
    height: 250px;
    margin-top: -150px;
    background-color: white;
    padding: 30px;
}

#nosotros > .caja > p {
    font-size: 15px;
}

.btn-conocenos {
    padding: 5px 30px;
    font-size: 20px;
}

.separador {
    height: 300px;
    background-image: url(/img/img1.jpg);
    padding: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#event-principal {
    width: 300px;
    height: 300px;
    margin-right: 50px;
}

#evet-todos {
    width: 600px;
    height: 300px;
}

#resultados {
    color: white;
}

.scroll-list-wrp {
    width: 100%; height: 700px;
    overflow:  auto;
    padding:50px;
    box-shadow: 0px 7px 46px 0px rgb(0,0,0,0.3);
    background: gray;
    background-image: linear-gradient(147deg, #2e3a59 0%, #1a2b46 74%);
}

@media only screen and (max-width: 750px) {
    .navbar {
        background-color:white;
    }

    #nosotros >.caja{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #event-principal {
        margin-right: 0px;
        margin-bottom: 50px;
    }


  }

  /*2parte Jeyson*/

  .video-placeholder {
    background-color: #ddd; /* Color de fondo gris */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px; /* Altura del placeholder */
}
.btn-custom {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.btn-custom:hover {
    background-color: #333;
}


.carousel-inner {
    display: flex;
}
.carousel-item {
    flex: 0 0 100%;
}
.carousel-item .d-flex {
    justify-content: center;
    gap: 30px; /* Espacio entre im치genes */
    flex-wrap: wrap;
}
.carousel-item img {
    width: 120px; /* Tama침o uniforme */
    height: 120px;
    object-fit: contain;
}

.objetivos-container {
    /*background-color: #f5f5f5;*/
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
}
.objetivos-container h4 {
    color: #333;
    font-weight: bold;
}
.objetivos-container p {
    color: #333;
}
.objetivos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.objetivo-item img {
    width: 250px; /* Ajusta el tama침o de las im치genes */
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
    border: 4px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .video-placeholder {
        margin-top: 50px;
    }
}

.contacto-container {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
}

.icono-redes {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: 0.3s;
}
.icono-redes:hover {
    opacity: 0.7;
}
.formulario-contacto {
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 40px;
}