.custom-box {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    width: 100%;
  }

  .custom-button {
    background-color: #999;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 2rem;
  }

  .custom-button:hover {
    background-color: #777;
  }
  
  .imagen-full {
    width: 100%;
    height: 300px; /* Ajusta la altura según necesites */
    background-image: url('imagen.png'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .imagen-full {
        display: none; /* Oculta la imagen en pantallas pequeñas */
    }
}